    <section class="happy" id="pricingdiv">
      <div class="container headings text-center">
        <h1 class="font-weight-bold ">Our Happy Clients</h1>
        <p>...our satisfied customer says...</p>
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <section class="header-extradiv">
                <div class="container">
                  <div class="row">
                    <div class="extradiv2 col-lg-4 col-md-4 col-6">
                      <h2>Jarvis</h2>
                      <p class="alexa_para">Free Hosting the with domain is amazing
                      </p>
                    </div>
                    <div class="extradiv2 medi col-lg-4 col-md-4 col-6">
                      <h2>Mac</h2>
                      <p>
                        I have used this to my construction business to scale-up
                        with custom domain and hosting
                      </p>
                    </div>
                    <div class="extradiv2 medi col-lg-4 col-md-4 col-6">
                      <h2>Cortana</h2>
                      <p>
                        Nice Assistance and Design is super cool, with unlimited
                        bandwidth
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="carousel-item">
              <section class="header-extradiv">
                <div class="container">
                  <div class="row">
                    <div class="extradiv2 col-lg-4 col-md-4 col-12">
                      <h2>Programmer</h2>
                      <p class="alexa_para">Cool, Awesome Designs...</p>
                    </div>
                    <div class="extradiv2 medi col-lg-4 col-md-4 col-12">
                      <h2>Siri</h2>
                      <p>Honestly this is the amazing Websites</p>
                    </div>
                    <div class="extradiv2 medi col-lg-4 col-md-4 col-12">
                      <h2>i coder</h2>
                      <p>I have scale-up my website within the time..</p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="carousel-item">
              <section class="header-extradiv">
                <div class="container">
                  <div class="row">
                    <div class="extradiv2 col-lg-4 col-md-4 col-12">
                      <h2>Alexa</h2>
                      <p class="alexa_para">This is the one of the best website on internet</p>
                    </div>
                    <div class="extradiv2 medi col-lg-4 col-md-4 col-12">
                      <h2>Linux</h2>
                      <p>
                        An amzing website, i have make lots of money by
                        freelancing
                      </p>
                    </div>
                    <div class="extradiv2 medi col-lg-4 col-md-4 col-12">
                      <h2>Windows</h2>
                      <p>This is the fully responsive</p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
