    <section class="contactus">
      <div class="container headings text-center">
        <div class="container">
          <div class="row const">
            <div class="col-lg-5 col-12 offset-lg-1 offset-md-2">
              <div id="about">
                <h1 class="offer_heading2">About Digital Ocean</h1>
        <p class="parse">There's no place like 127.0.0.1 	&#128516;</p>
                <img class="desk2" src="images/founder1.png" alt="" />
                <p class="founder">Yaseen</p>
                <p class="about-para">
                  Have doubt or suggestion to make? Feel free to ask anything.
                  If you have any suggestions, please let me know. Your
                  suggestions are highly appreciated. I appreciate your time and
                  try hard to reply to every single message posted here! Keep
                  dropping your priceless opinions.
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-12 offset-lg-1 offset-md-2">
              <div class="container text-center">
                <h1 class="font-weight-bold" id="contact">contact us</h1>
                <p class="parse">We're Here To Help And Answer Your Questions</p>
              </div>
              <form action="/contact" method="POST">
                <div class="mb-3">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    required
                    placeholder="Enter your name"
                    minlength="3"
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="email"
                    required
                    placeholder="example@gmail.com"
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    name="phone"
                    class="form-control"
                    id="phone"
                    required
                    placeholder="Mobile Number"
                    minlength="10"
                  />
                </div>
                <div class="mb-3 input-group">
                  <textarea
                    name="message"
                    class="form-control"
                    rows="5"
                    id="text-area"
                    required
                    placeholder="What's on your mind?"
                    minlength="5"
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-danger btmm">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>