    <section class="header-extradiv">
      <div class="container">
        <div class="row">
          <div class="extradiv col-lg-4 col-md-4 col-12">
            <i class="fa-solid fa-desktop fa-3x desk"></i>

            <h2 class="trop">EASY TO USE</h2>
            <p class="magic">
              It's Easy. Getting your website live is as simple as a click of a button.
            </p>
          </div>
          <div class="extradiv dim col-lg-4 col-md-4 col-12">
            <i class="fa-solid fa-trophy fa-3x desk"></i>
            <h2 class="trop">AWESOME DESIGN</h2>
            <p class="magic">
              Beautiful Dynamic and Static website with Domain + Hosting + Web-mail
              + 24X7 support.
            </p>
          </div>
          <div class="extradiv col-lg-4 col-md-4 col-12">
            <i class="fa-solid fa-wand-magic-sparkles fa-3x desk"></i>
            <h2 class="trop">EASY TO CUSTOMIZE</h2>
            <p class="magic">
              Upgrade & Try Premium Plans For better obtimization and Social
              Media Compatible..
            </p>
          </div>
        </div>
      </div>
    </section>