    <footer class="footer-section" id="footerdiv">
      <div class="container headings text-center">
        <h3 class="font-weight-bold social_links">...Our Social Links...</h3>
        <div class="container">
          <div class="row inp">
            <div class="social col-lg-12 col-12 mb-2">
              <a href="https://www.instagram.com/yaseen07_/" target="_blank">
                <i class="fa-brands fa-instagram team instagram fa-2x"></i>
              
              </a>
              <a href="https://www.facebook.com/100019487475399" target="_blank">
                <i class="fa-brands fa-facebook team facebook fa-2x"></i>
              
              </a>
              <a href="https://twitter.com/yaseen07_/" target="_blank">
                <i class="fa-brands fa-twitter team twitter fa-2x"></i>
              
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pb-3 foot">
        <p>
          Created By <a class="footname" href="https://www.instagram.com/yaseen07_/" target="_blank">Yaseen</a> | Copyright &copy; 2023 digitalocean.com All rights reserved
        </p>
        <div class="scrolltop">
          <img
            class="scroll"
            src="images/up-solid.svg"
            onclick="topFunction()"
            id="mybtn"
            alt=""
          />
          <!-- <i class="fa-solid fa-angles-up scroll fa-2x" onclick="topFunction()" id="mybtn" alt=""></i> -->
        </div>
      </div>
    </footer>