<div id="preloader">
    <div class="center_div">
        <div class="rot"></div>
        <h1 class= "load">Loading..</h1>
    </div>
</div>
<div class="header" id="topheader">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container p-2 amazon">
      <a class="navbar-brand" href="/">Digital Ocean</a>
      <button
        onclick="myFunction()"
        class="navbar-toggler navz bg-danger"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse animate slideIn" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#price">Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>