    <section class="offers" id="services">
      <div class="container headings text-center">
        <h1 class="font-weight-bold offer_heading">What Do We Offer</h1>
        <p class="parse">Talk is cheap. Show me the code.. &#128526;</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-12 offset-lg-0">
            <div class="names">
              <h3 class="roll">Construction</h3 class="roll">
              <div class="progress">
                <div
                  class="
                    progress-bar progress-bar-striped progress-bar-animated
                    bg-danger
                  "
                  style="width: 100%"
                >
                  95%
                </div>
              </div>
            </div>
            <div class="names">
              <h3 class="roll">Ecommerce</h3 class="roll">
              <div class="progress">
                <div
                  class="
                    progress-bar progress-bar-striped progress-bar-animated
                  "
                  style="width: 70%"
                >
                  70%
                </div>
              </div>
            </div>
            <div class="names">
              <h3 class="roll">New Business</h3 class="roll">
              <div class="progress">
                <div
                  class="
                    progress-bar progress-bar-striped progress-bar-animated
                    bg-success
                  "
                  style="width: 85%"
                >
                  85%
                </div>
              </div>
            </div>
            <div class="names">
              <h3 class="roll">Technology</h3 class="roll">
              <div class="progress">
                <div
                  class="
                    progress-bar progress-bar-striped progress-bar-animated
                    bg-warning
                  "
                  style="width: 90%"
                >
                  90%
                </div>
              </div>
            </div>
            <div class="names my-3">
              <h3 class="roll">Commercials</h3 class="roll">
              <div class="progress">
                <div
                  class="
                    progress-bar progress-bar-striped progress-bar-animated
                    bg-danger
                  "
                  style="width: 80%"
                >
                  80%
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 serve">
            <div class="row">
              <div class="col-lg-2 col-2">
                <i class="fa-solid fa-globe fa-3x offs"></i>
              </div>
              <div class="col-lg-8 col-10 offset-lg-1">
                <h2 class="heel">Web-development</h2>
                <p class="parse">
                  We design both custom Static and Dynamic web applications for
                  electronic businesses, and social network services...
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-2">
                <i class="fa-solid fa-wifi fa-3x offs"></i>
              </div>
              <div class="col-lg-8 col-10 offset-lg-1">
                <h2 class="heel">Digital marketing</h2>
                <p class="parse">
                  We provide online based Virtual web technology such as
                  Construction, Ecommerce, New Business strategies and other ...
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-2">
                <i class="fa-solid fa-phone-flip fa-3x offs"></i>
              </div>
              <div class="col-lg-8 col-10 offset-lg-1">
                <h2 class="heel">24X7 Support</h2>
                <p class="parse">
                  24x7 tech support providing quality services at anytime, ...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>