    <section class="pricing" id="price">
      <div class="container headings text-center">
        <h1 class="font-weight-bold">Our Best Pricing</h1>
      </div>
      <div class="container">
        <div class="row">
            <div class="card card-2" style="width: 18rem">
              <img src="images/header.bg7.jpg" class="card-img" alt="..." />
              <div class="card-body">
                <h5 class="card-title"><span class='standard'>Basic</span></h5>
                <div class="container start">
                  <li>$ <span class="money">99</span>/website</li>
                  <li>Ideal For Personal Usage</li>
                  <li>Responsive Website</li>
                  <li>1-webmail support</li>
                  <li>SSL Certificate</li>
                  <li>NO Custom Domain</li>
                  <li>Git Access</li>
                  <li>Free Hosting</li>
                  <li>Windows based</li>
                  <li>Customer Support 24/7</li>
                </div>
                <a href="#contact" class="btn btn-primary btm">purchase</a>
              </div>
            </div>
            <div class="card block card-2" style="width: 18rem">
              <img src="images/header.bg2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title"><span class='standard'>Standard</span></h5>
                <div class="container start">
                  <li>$ <span class="money">149</span>/website</li>
                  <li>For Medium-Scale Business</li>
                  <li>Responsive website</li>
                  <li>2-webmail support</li>
                  <li>SSL Certificate</li>
                  <li>No Domain name</li>
                  <li>Git Accesss</li>
                  <li>Free Hosting</li>
                  <li>Windows based</li>
                  <li>customer support 24/7</li>
                </div>
                <a href="#contact" class="btn btn-primary btm">purchase</a>
              </div>
            </div>
            <div class="card card-2" style="width: 18rem">
              <img src="images/header.bg11.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title"><span class='recomended'>Recomended</span></h5>
                <div class="container start">
                  <li class="honey">$ <span class="money">199</span>/website</li>
                  <li>For Large-Scale Business</li>
                  <li>Responsive website</li>
                  <li>5 Web-mails</li>
                  <li>SSL Certificate</li>
                  <li>Custom Domain Name</li>
                  <li>Git Accesss</li>
                  <li>Free Hosting</li>
                  <li>Windows based</li>
                  <li>customer support 24/7</li>
                </div>
                <a href="#contact" class="btn btn-danger btm">purchase</a>
              </div>
            </div>
            <div class="card card-2" style="width: 18rem">
              <img src="images/header.bg10.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title"><span class='standard'>Premium</span></h5>
                <div class="container start">
                  <li class="honey">$ <span class="money">299</span>/website</li>
                  <li>For Large Scale-Business</li>
                  <li>Responsive website</li>
                  <li>Unlimited Web-mails</li>
                  <li>SSL Certificate</li>
                  <li>Custom Domain Name</li>
                  <li>Git Accesss</li>
                  <li>Free Hosting</li>
                  <li>Linux based</li>
                  <li>customer support 24/7</li>
                </div>
                <a href="#contact" class="btn btn-primary btm">purchase</a>
              </div>
            </div>
          </div>
      </div>
    </section>