    <section class="project-work">
      <div class="container headings text-center">
        <p class="more">More than 1K websites are created</p>
      </div>
      <div
        class="
          conainer
          d-flex
          justify-content-around
          align-item-center
          text-center
        "
      >
        <div>
          <h1 class="count">1500</h1>
          <p class="count-para">Linux installation</p>
        </div>
        <div>
          <h1 class="count">2000</h1>
          <p class="count-para">Website-Designs</p>
        </div>
        <div>
          <h1 class="count">1700</h1>
          <p class="count-para">SSL Certificates</p>
        </div>
        <div>
          <h1 class="count">500</h1>
          <p class="count-para">Working on</p>
        </div>
      </div>
    </section>